@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,400;0,700;1,400&family=Poppins&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: 15%;
  font-size: clamp(3px, 75%, 14px);
  border-radius: 10px;
  padding: 0.5rem;
  display: grid;
  place-content: center;
  background-color: rgb(0, 255, 238);
  color: black;
  transition: all 300ms ease-in-out;
  outline: 1.5px solid transparent;
  border: none;
}
button:hover {
  background-color: black;
  color: white;
  outline: 1.5px rgb(0, 255, 238) solid;
}

.App {
  height: auto;
  width: 100vw;
  font-family: "Space Mono", monospace;
}

.todoform-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(105, 240, 242);
}
.todoform-container .mainform-container {
  background: rgb(0, 255, 238);
  width: 94vw;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 10px 10px 1px;
  gap: 5px;
  user-select: none;
  margin: 30px auto;
  transition: all 300ms ease-in-out;
}
.todoform-container .mainform-container:hover {
  box-shadow: 0px 0px 10px 1px;
}
.todoform-container .mainform-container div {
  flex: 1;
  max-width: 20%;
  font-weight: 600;
}
.todoform-container .mainform-container div h1 {
  font-size: clamp(17px, 8vw, 40px);
  text-align: center;
}
.todoform-container .mainform-container form {
  background: rgb(0, 0, 0);
  border: 2px solid rgb(0, 255, 238);
  border-top-right-radius: 10px;
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.todoform-container .mainform-container form span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 0.5rem;
}
.todoform-container .mainform-container form span input {
  width: 95%;
  padding: 0.8rem;
  margin-right: 5%;
  border-radius: 10px;
  font-size: clamp(90%, 100%, 16px);
  font-family: inherit;
  transition: all 300ms ease-in-out;
  border: none;
  outline: 2px transparent solid;
}
.todoform-container .mainform-container form span input:focus {
  outline: rgb(0, 255, 238) solid 2px;
  background: rgb(0, 0, 0);
  color: white;
}

.todolist-container {
  width: 94vw;
  max-width: 600px;
  overflow-x: hidden;
  transition: all 300ms ease-in-out;
  position: relative;
}
.todolist-container::-webkit-scrollbar {
  width: 12px;
}
.todolist-container::-webkit-scrollbar-track {
  background: transparent;
}
.todolist-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid transparent;
}
.todolist-container .todolist-title {
  background: rgb(0, 255, 238);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 10px 10px 1px;
  user-select: none;
  margin: 30px auto;
  padding: 1rem;
  border: 2px solid black;
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todolist-container .todolist-title h1 {
  font-size: clamp(17px, 8vw, 30px);
}
.todolist-container .todolist-title span {
  cursor: pointer;
  transition: all 200ms ease-out;
}
.todolist-container .todolist-title span:hover {
  transform: scale(1.2);
}
.todolist-container .todolist-title:hover {
  box-shadow: 0px 0px 10px 1px;
}

.created-todo {
  display: grid;
  place-items: center;
}
.created-todo .card-btns {
  display: flex;
  position: absolute;
  right: 3px;
  gap: 4px;
}
.created-todo .card-btns button {
  width: clamp(35px, 10vw, 60px);
}

/*# sourceMappingURL=style.css.map */
