@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,400;0,700;1,400&family=Poppins&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$primary-color: rgb(0, 255, 238);
$secondary-color: black;
$text-color1: white;
$bg-color: rgb(105, 240, 242);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    width: clamp(13%, 15%, 20%);
    font-size: clamp(3px, 70%, 14px);
    border-radius: 10px;
    padding: .5rem;
    display: grid;
    place-content: center;
    background-color: $primary-color;
    color: black;
    transition: all 300ms ease-in-out;
    outline: 1.5px solid transparent;
    border: none;

    &:hover {
        background-color: $secondary-color;
        color: $text-color1;
        outline: 1.5px $primary-color solid;
    }
}

.App {
    height: auto;
    width: 100vw;
    font-family: 'Space Mono', monospace;
}
// Todoform
.todoform-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $bg-color;

    .mainform-container {
        background: $primary-color;
        width: 94vw;
        max-width: 600px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 10px 10px 1px;
        gap: 5px;
        user-select: none;
        margin: 30px auto;
        transition: all 300ms ease-in-out;

        &:hover {
            box-shadow: 0px 0px 10px 1px;
        }

        div {
            flex: 1;
            max-width: 20%;
            font-weight: 600;

            h1 {
                font-size: clamp(17px, 8vw, 40px);
                text-align: center;
            }
        }

        form {
            background: rgb(0, 0, 0);
            border: 2px solid $primary-color;
            border-top-right-radius: 10px;
            height: 100%;
            flex: 2;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            span {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 70%;
                padding: .5rem;

                input {
                    width: clamp(85%, 100%, 95%);
                    padding: .8rem;
                    margin-right: 5%;
                    border-radius: 10px;
                    font-size: clamp(9px, 20vw, 16px);
                    font-family: inherit;
                    transition: all 300ms ease-in-out;
                    border: none;
                    outline: 2px transparent solid;

                    &:focus {
                        outline: $primary-color solid 2px;
                        background:rgb(0, 0, 0);
                        color: white;
                    }
                }

            }
        }
    }
}

// Todolist
.todolist-container {
    width: 94vw;
    max-width: 600px;
    overflow-x: hidden;
    transition: all 300ms ease-in-out;
    position: relative;

    &::-webkit-scrollbar {
        width: 12px; 
      }
      
    &::-webkit-scrollbar-track {
        background: transparent;        
      }
      
    &::-webkit-scrollbar-thumb {
        background-color: transparent;    
        border-radius: 20px;       
        border: 3px solid transparent; 
      }
    
    .todolist-title {
        background: $primary-color;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 10px 10px 1px;
        user-select: none;
        margin: 30px auto;
        padding: 1rem;
        border: 2px solid $secondary-color;
        transition: all 300ms ease-in-out;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: clamp(17px, 8vw, 30px);
        }

        span {
            cursor: pointer;
            transition: all 200ms ease-out;
            
            &:hover {
                animation: scaleWhileHoverRotate 300ms ease-in-out;
            }

        }
        &:hover {
            box-shadow: 0px 0px 10px 1px;
        }
}
}

.created-todo {
    display: grid;
    place-items: center;
    .card-btns {
        display: flex;
        position: absolute;
        right: clamp(15px, 2.5vw, 23px);
        gap: 4px;
        button {
            width: clamp(45px, 10vw, 50px);
            padding: 1rem;
        }
    }
}

@keyframes scaleWhileHoverRotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}